<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grub's Up!</title>
</head>
<body>

{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="https://a797a945-0cb6-4281-b8b1-0b14fe5743f6.ws-eu01.gitpod.io/files/download/?id=27a216e4-612f-4e9d-9a07-ff2370a7ae4c">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>

  {% if session['user'] %}
  <div class="div">
  <ul>
  <!--add recipe option-->
            <li class="highlight1-background"><a href="{{ url_for('add_recipe') }}">Add</a></li>
            <!--edit recipe option-->
            <li class="highlight2-background">
              <!--check if already displaying a recipe  and the user is the author of the recipe - if so edit option redirects to page to edit that recipe-->
              {% if recipe and session["user"]|lower==recipe.author %}
              <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}">Edit</a> {% else %}
              <!--if not displaying a specific recipe edit option redirects to a list of all recipes to choose one to edit-->
              <a href="{{url_for('recipe_list', action='edit')}}">Edit</a> {% endif %}
            </li>
            <!--delete recipe option-->
            <li class="highlight4-background">
            <!--check if already displaying a recipe and the user is the author of the recipe - if so delete option opens the deletion modal to confirm deletion of that recipe-->
              {% if recipe and session["user"]|lower==recipe.author%}
              <a href="#delete_modal" class=" modal-trigger">Delete</a> {% else %}
              <!--if not displaying a specific recipe delete option redirects to a list of all recipes to choose one to delete-->
              <a class="call-preloader" href="{{url_for('recipe_list', action='delete')}}">Delete</a> {% endif %}
            </li>

            {%endif%}
          </ul>
        </div>

    <h1>{{ view_name}}</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea cum, in iusto nulla deserunt ab natus, voluptates 
        atque fugit labore quisquam. Sapiente ratione molestiae earum. Consequatur enim saepe maxime ipsum? 
        A optio blanditiis recusandae esse quis sed voluptates sit amet deleniti, mollitia obcaecati nobis 
        harum magni nostrum dolorem rerum quaerat!</p>

{% for option in categories %}


<div class="row featurette">
        <div class="col-md-7">
            <h2><a href="/courses/{{ option.url }}"> {{ loop.index }}. {{ option.name }}</a></h2>
                <p>{{ option.description }}</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="{{ option.image_source }}"> 
        </div>
    </div>

    {% if loop.index != 4 %}
    <hr class="featurette-divider">
    {% endif %}
    
{% endfor %}
{% endblock %}

</body>
</html>