<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grub's Up!</title>
</head>
<body>

{% extends 'base.html' %}
{% block content %}

    <h1>{{ view_name}}</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea cum, in iusto nulla deserunt ab natus, voluptates 
        atque fugit labore quisquam. Sapiente ratione molestiae earum. Consequatur enim saepe maxime ipsum? 
        A optio blanditiis recusandae esse quis sed voluptates sit amet deleniti, mollitia obcaecati nobis 
        harum magni nostrum dolorem rerum quaerat!</p>

{% for option in categories %}

{{ loop.index }}


<div class="row featurette">
        <div class="col-md-7">
            <h4>{{ option.name }}</h4>
                <p>{{ option.description }}</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="{{ option.image_source }}"> 
        </div>
    </div>

    {% if loop.index != 4 %}
    <hr class="featurette-divider">
    {% endif %}
    
{% endfor %}
{% endblock %}

</body>
</html>