<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grub's Up!</title>
</head>
<body>

{% extends 'base.html' %}
{% block content %}
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
    
            <h3 class="post-title">
              "Ok everybody, grub's up!!! Get stuck in."
            </h3>
          
        </div>
        
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{ url_for('recipes') }}">Recipes &rarr;</a>
        </div>
      </div>
    </div>
{% endblock %}

</body>
</html>