<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grub's Up!</title>
</head>
<body>

{% extends 'base.html' %}
{% block content %}


    <h1>{{ view_name}}</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea cum, in iusto nulla deserunt ab natus, voluptates 
    atque fugit labore quisquam. Sapiente ratione molestiae earum. Consequatur enim saepe maxime ipsum? 
    A optio blanditiis recusandae esse quis sed voluptates sit amet deleniti, mollitia obcaecati nobis 
    harum magni nostrum dolorem rerum quaerat!</p>

    <div class="row featurette">
        <div class="col-md-7">
            <h4>See breakfast recipes here</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi ipsa nemo deserunt facere vero. 
                Ut vel nemo maiores quod explicabo deleniti assumenda corrupti, voluptatum repellat eligendi voluptatibus praesentium 
                fuga expedita optio! Quam minus nostrum expedita sed doloribus quaerat sequi amet velit tempore vitae magnam veritatis 
                quas aliquam, impedit ea soluta blanditiis non accusantium corrupti odit? Explicabo, qui! Obcaecati laboriosam eos 
                reiciendis nostrum eum, ab vitae nobis! Reiciendis libero harum quaerat nesciunt cum omnis molestiae eligendi cumque 
                amet sunt, quibusdam quam nobis officiis sint 
                mollitia minus tempore ab itaque asperiores deleniti. Ipsum incidunt doloremque deleniti quis! Iste, facilis recusandae?</p>
        
        </div>
        <div class="col-md-5">
            <img source="./assets/images/breakfast1.jpg" alt="Breakfast in bed image"> 
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-5">
            <h4>See lunch recipes here</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi ipsa nemo deserunt facere vero. 
                Ut vel nemo maiores quod explicabo deleniti assumenda corrupti, voluptatum repellat eligendi voluptatibus praesentium 
                fuga expedita optio! Quam minus nostrum expedita sed doloribus quaerat sequi amet velit tempore vitae magnam veritatis 
                quas aliquam, impedit ea soluta blanditiis non accusantium corrupti odit? Explicabo, qui! Obcaecati laboriosam eos 
                reiciendis nostrum eum, ab vitae nobis! Reiciendis libero harum quaerat nesciunt cum omnis molestiae eligendi cumque 
                amet sunt, quibusdam quam nobis officiis sint 
                mollitia minus tempore ab itaque asperiores deleniti. Ipsum incidunt doloremque deleniti quis! Iste, facilis recusandae?</p>
        </div>
        <div class="col-md-7">
            <img source="./assets/images/breakfast1.jpg" alt="Breakfast in bed image"> 
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h4>See dinner recipes here</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi ipsa nemo deserunt facere vero. 
                Ut vel nemo maiores quod explicabo deleniti assumenda corrupti, voluptatum repellat eligendi voluptatibus praesentium 
                fuga expedita optio! Quam minus nostrum expedita sed doloribus quaerat sequi amet velit tempore vitae magnam veritatis 
                quas aliquam, impedit ea soluta blanditiis non accusantium corrupti odit? Explicabo, qui! Obcaecati laboriosam eos 
                reiciendis nostrum eum, ab vitae nobis! Reiciendis libero harum quaerat nesciunt cum omnis molestiae eligendi cumque 
                amet sunt, quibusdam quam nobis officiis sint 
                mollitia minus tempore ab itaque asperiores deleniti. Ipsum incidunt doloremque deleniti quis! Iste, facilis recusandae?</p>
        </div>
        <div class="col-md-5">
            <img source="assets/images/breakfast1.jpg" alt="Breakfast in bed image"> 
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-5">
            <h4>See dessert recipes here</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi ipsa nemo deserunt facere vero. 
                Ut vel nemo maiores quod explicabo deleniti assumenda corrupti, voluptatum repellat eligendi voluptatibus praesentium 
                fuga expedita optio! Quam minus nostrum expedita sed doloribus quaerat sequi amet velit tempore vitae magnam veritatis 
                quas aliquam, impedit ea soluta blanditiis non accusantium corrupti odit? Explicabo, qui! Obcaecati laboriosam eos 
                reiciendis nostrum eum, ab vitae nobis! Reiciendis libero harum quaerat nesciunt cum omnis molestiae eligendi cumque 
                amet sunt, quibusdam quam nobis officiis sint 
                mollitia minus tempore ab itaque asperiores deleniti. Ipsum incidunt doloremque deleniti quis! Iste, facilis recusandae?</p>
        </div>
        <div class="col-md-7">
            <img source="./assets/images/breakfast1.jpg" alt="Breakfast in bed image"> 
        </div>
    </div>

{% endblock %}

</body>
</html>