<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grub's Up!</title>
</head>
<body>

{% extends 'base.html' %}
{% block content %}


    <h1>{{ view_name}}</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea cum, in iusto nulla deserunt ab natus, voluptates 
    atque fugit labore quisquam. Sapiente ratione molestiae earum. Consequatur enim saepe maxime ipsum? 
    A optio blanditiis recusandae esse quis sed voluptates sit amet deleniti, mollitia obcaecati nobis 
    harum magni nostrum dolorem rerum quaerat!</p>

    {% for recipe in recipe %}
        {{recipe.recipe_name}}
        {{recipe.category_name}}
        {{recipe.recipe_description}}
        {{recipe.ingredients}}
        {{recipe.method}}
        {{recipe.is_vegetarian}}
    {% endfor %}

    

    
        

    
    

{% endblock %}

</body>
</html>